<h2 style="position: absolute; left: 0; margin-left: 20px;">
  Hello {{ username }}!
</h2>
<h2
  (click)="logout()"
  style="position: absolute; right: 0; margin-right: 20px; color: #673ab7;"
>
  <b>Logout</b>
</h2>
<h1 style="text-align: center;">Events</h1>
<h3 *ngIf="(events$ | async) && (events$ | async).length === 0">
  No events available
</h3>
<div
  style="text-align: center;"
  *ngIf="(events$ | async) && (events$ | async).length > 0"
>
  <button
    mat-icon-button
    color="primary"
    (click)="slickModal.slickPrev()"
    style="display: inline-block;"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <!-- You can now use your library component in app.component.html -->
  <ngx-slick-carousel
    style="display: inline-block; width: 450px;"
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div
      ngxSlickItem
      *ngFor="let event of events$ | async"
      class="slide"
      style="align-items: flex-start; vertical-align: middle;"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <button
              mat-icon-button
              color="primary"
              style="float: left;"
              (click)="editEvent(event.id)"
            >
              <mat-icon>create</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              style="float: right;"
              (click)="deleteEvent(event.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-title> {{ event.event_name }}</mat-card-title>
          <mat-card-subtitle>{{ event.event_type }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          [src]="backEndUrl + '/image/' + event.thumbnail"
          alt=""
          *ngIf="event.thumbnail"
        />
        <mat-card-content>
          <p><b>Category:</b> {{ event.event_category }}</p>
          <p><b>Place:</b> {{ event.event_place }}</p>
          <p><b>Address:</b> {{ event.event_address }}</p>
          <p><b>Initial Date:</b> {{ event.event_initial_date }}</p>
          <p><b>Final Date:</b> {{ event.event_final_date }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </ngx-slick-carousel>
  <button
    mat-icon-button
    color="primary"
    (click)="slickModal.slickNext()"
    style="display: inline-block;"
  >
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
<div style="text-align: center;">
  <button
    mat-fab
    color="primary"
    (click)="createEvent()"
    style="display: inline-block;"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
