mat-card {
  margin: 2em auto;
  width: 300px;
  text-align: center;
  height: 100%;
  padding: 25px;
}

h1 {
  margin: 10px 0 0 0;
  font-size: 30px;
}

h3 {
  margin: 10px 0 5px 0;
  text-align: center;
}

mat-card-title {
  text-align: center;
}

mat-card-subtitle {
  text-align: center;
}

mat-card-header {
  display: block;
  text-align: center;
}

mat-card {
  min-height: 560px;
}
