<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required
          />
        </label>
        <mat-error>
          Please a valid user
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
        </label>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="loginInvalid">
        Wrong username or password
      </mat-error>

      <p
        style="text-align: right; color: #673ab7;"
        (click)="navigateToCreateUser()"
      >
        <b>Create User?</b>
      </p>

      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
