<mat-card>
  <mat-card-content>
    <mat-card-title>
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-title>Edit Event</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="file" name="profile" (change)="onFileSelect($event)" />
      <img [src]="imgURL" *ngIf="imgURL" height="200" alt="" />
      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="event_name"
            required
          />
        </label>
        <mat-error>
          Please provide a valid name
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="event_category">
          <mat-option value="Conferencia">Conferencia</mat-option>
          <mat-option value="Seminario">Seminario</mat-option>
          <mat-option value="Congreso">Congreso</mat-option>
          <mat-option value="Curso">Curso</mat-option>
        </mat-select>
        <mat-error>
          Please provide a valid Category
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="text"
            placeholder="Place"
            formControlName="event_place"
            required
          />
        </label>
        <mat-error>
          Please provide a valid Place
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="text"
            placeholder="Address"
            formControlName="event_address"
            required
          />
        </label>
        <mat-error>
          Please provide a valid Address
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="text"
            placeholder="Initial Date"
            formControlName="event_initial_date"
            required
          />
        </label>
        <mat-error>
          Please provide a valid Initial Date
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="text"
            placeholder="Final Date"
            formControlName="event_final_date"
            required
          />
        </label>
        <mat-error>
          Please provide a valid Final Date
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-label>Event Type</mat-label>
        <mat-select formControlName="event_type">
          <mat-option value="Presencial">Presencial</mat-option>
          <mat-option value="Virtual">Virtual</mat-option>
        </mat-select>
        <mat-error>
          Please provide a valid Event Type
        </mat-error>
      </mat-form-field>

      <button [disabled]="form.invalid" mat-raised-button color="primary">
        Edit
      </button>
    </form>
  </mat-card-content>
</mat-card>
