<mat-card>
  <mat-card-title>
    <button mat-icon-button color="primary" (click)="navigateToLogin()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Create User</h2>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="first_name"
            required
          />
        </label>
        <mat-error>
          Please provide a valid name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="text"
            placeholder="Last name"
            formControlName="last_name"
            required
          />
        </label>
        <mat-error>
          Please provide a valid last name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
        </label>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="text"
            placeholder="Username"
            formControlName="username"
            required
          />
        </label>
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <label>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
        </label>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button [disabled]="form.invalid" mat-raised-button color="primary">
        Create
      </button>
    </form>
  </mat-card-content>
</mat-card>
