<mat-card class="example-card" *ngIf="event$ | async">
  <mat-card-header>
    <mat-card-title>
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-title>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ (event$ | async).event_name }}</mat-card-title>
    <mat-card-subtitle>{{ (event$ | async).event_type }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="backEndUrl + '/image/' + (event$ | async).thumbnail"
    alt=""
    *ngIf="(event$ | async).thumbnail"
  />
  <mat-card-content>
    <p><b>Category:</b> {{ (event$ | async).event_category }}</p>
    <p><b>Place:</b> {{ (event$ | async).event_place }}</p>
    <p><b>Address:</b> {{ (event$ | async).event_address }}</p>
    <p><b>Initial Date:</b> {{ (event$ | async).event_initial_date }}</p>
    <p><b>Final Date:</b> {{ (event$ | async).event_final_date }}</p>
  </mat-card-content>
</mat-card>
