/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  background-image: url('assets/beige-paper.png');
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block !important;
}

.slick-slider {
  width: 90%;
  margin: auto;
  color: #ffffff;
}

.slick-slide {
  outline: none;
  height: 100%;
  display: flex;
}

mat-card-title > button {
  float: left;
}
